*{
  font-family: 'Plus Jakarta Sans', sans-serif;
  margin: 0;
  padding: 0;
  font-size: 16px;
}
/* Center the content */
.App{
  display: grid;
  place-content: center;
  background-color: hsl(211, 68%, 94%);
}
.Container{
  padding: 20px;
  background-color: white;
  border-radius: 12px;
  place-self: center;
  max-width: 1440px;
}
/* Header text */
.Container-header-text{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 10px;
  margin-bottom: 30px;
}
.Container-header-text p{
  font-weight: 500;
  color: hsl(219, 12%, 42%);
  font-size: 14px;
}
.Container-header-text-left{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
.Container-header-text-left div{
  display: grid;
  place-content: center;
  background-color: hsl(219, 85%, 26%);
  color: white;
  border-radius: 4px;
  font-weight: 500;
  font-size: 14px;
  height: 20px;
  width: 25px;
}
.Container-header-text h1{
  font-size: 20px;
}
/* Hover */
.allRead:hover{
  color: hsl(219, 85%, 26%);
  cursor: pointer;
}
/* Notifications container */
.Notifications-container{
  display: flex;
  flex-direction: column;
  gap: 8px;
}